div.container {

    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 50px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    height: max-content;
    width: 700px;

}

